<div>Category Name</div>
<!-- <img src='{{category?.imageUrl}}'> -->
<img src="C:\Users\MyLaptop\Downloads\unnamed (32).jpg">

<div>
    $  <input type="radio" placeholder="$" value="USD" [(ngModel)]="this.currency">
    ₪ <input type="radio" placeholder="₪" value="NIS" [(ngModel)]="this.currency">
    <!-- <input type="text" [(ngModel)]="searchTerm" placeholder="Search..."> -->
    <!-- | filterSearch: searchTerm -->
    <br>
    <p>The url of this page - {{urlPage}}</p>
    <p>--------THis is the list product---------</p>
        @for (item of products ; track item.id ) {
<app-product-in-list [product]="item" ></app-product-in-list>
    }
</div>
<div>
    <p>------Filter-----</p>
    <app-filter-products (filterProducts)="filterProduct($event)"></app-filter-products>
</div>
<div>
    <p>------long page-----</p>
</div>