
<h2>password reset get link</h2>
<form  (ngSubmit) = "hadleClick()" #resetForm = "ngForm">
<input type="email"  #emailModel = "ngModel" [(ngModel)] = "this.email"  name = "email" required email pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">

<div>
@if(emailModel.invalid && ( emailModel.touched || emailModel.dirty))
{
    @if(emailModel.invalid && emailModel.errors?.['required']){
        <p>Email is required</p>
    }
    @if(emailModel.invalid && (emailModel.errors?.['pattern'] || emailModel.errors?.['email'])){
        <p> Email must be a valid email address </p>
    }
}
</div>
<button type="submit" class="btn btn-info" [disabled]="resetForm.invalid">Submit</button>
</form>


