<p>Hello password. reset form.....</p>
<form [formGroup]="resetForm" (ngSubmit)="handleClick()">
<input formControlName="password" type="password" class="form-control" placeholder="password">
<div>
    @if(resetForm.controls['password'].invalid && ( resetForm.controls['password'].touched)){
    @if(resetForm.controls['password'].hasError('required')){
    <p>Password is required</p>
    }
    @if(resetForm.controls['password'].hasError('minlength')){
      <p> password must be 8 .... </p>
    }
    }
</div>

    <input type="password" formControlName="confirmPassword" placeholder="Confirm">

    <div>
        @if(resetForm.controls['confirmPassword'].invalid && ( resetForm.controls['confirmPassword'].touched)){
        @if(resetForm.controls['confirmPassword'].hasError('required')){
        <p>Password is required</p>
        }
        @else{
            <p> Passwords do not match.</p> 
       }
        }
    </div>
    <button type="submit" [disabled]="resetForm.invalid">reset</button>

</form>