<form [formGroup]="this.messageForm">
    <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" autocomplete="off" />
        <div>
            @if(!messageForm.controls['name'].valid){
            Name is required and must be at least 3 characters long.
            }
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" autocomplete="off" />
        <div>
            @if(!messageForm.controls['email'].valid){
            Must be a valid email address.
            }

        </div>
    </div>
    <div>
        <label for="message">Message</label>
        <input id="message" formControlName="message" type="message" autocomplete="off" />
        <div>
            @if(!messageForm.controls['message'].valid){
            Message is required.
            }
        </div>
    </div>
    <div class="form-group">
        <input [disabled]="!messageForm.valid" (click)="onSubmit()" type="submit" value="Send">
    </div>
</form>