<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword()">
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div>
                    @if(resetPasswordForm.controls['password'].invalid){
                    @if(resetPasswordForm.controls['password'].hasError('required')){
                        <mat-error>
                           {{errorMessage}} 
                          </mat-error>
                    }
                    @if(resetPasswordForm.controls['password'].hasError('password')){
                    <mat-error>
                        הסיסמה חייבת להיות לפחות 8 תווים, לכלול אות גדולה, אות קטנה, מספר ותו מיוחד.
                    </mat-error>
                    }
                    }
                </div>
            </div>
            <div class="mb-3 row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div>
                    @if(resetPasswordForm.controls['confirm'].invalid){
                    @if(resetPasswordForm.controls['confirm'].hasError('required')){
                        <mat-error>
                           {{errorMessage}} 
                          </mat-error>
                    }
                    @if(resetPasswordForm.controls['confirm'].hasError('mustMatch')){
                    <mat-error>
                        Passwords must match
                    </mat-error>
                    }
                    }
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>